<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whb.system.mapper.SysDictValueMapper">

    <resultMap id="BaseResultMap" type="com.example.whb.system.domain.SysDictValue">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="dictLabel" column="dict_label" jdbcType="VARCHAR"/>
            <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
            <result property="dictOrder" column="dict_order" jdbcType="INTEGER"/>
            <result property="dictTypeId" column="dict_type_id" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dict_label,dict_value,
        dict_order,dict_type_id,state,
        remark,create_time
    </sql>
</mapper>
