<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whb.system.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.example.whb.common.domain.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
            <result property="idDel" column="id_del" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="plainPassword" column="plain_password" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="expired" column="expired" jdbcType="INTEGER"/>
            <result property="locked" column="locked" jdbcType="INTEGER"/>
            <result property="enabled" column="enabled" jdbcType="INTEGER"/>
            <result property="credentialExpired" column="credential_expired" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,
        id_del,remark,username,
        password,nickname,email,
        mobile,status,plain_password,
        photo,expired,locked,
        enabled,credential_expired,create_time,
        update_time
    </sql>

    <update id="updatePassword">
        UPDATE sys_user SET password = #{pass} WHERE id = ${id}
    </update>
</mapper>
